<nz-breadcrumb [nzAutoGenerate]="autoGenerate" [nzRouteLabel]="routeLabel"
               [nzRouteLabelFn]="routeLabelFn" nzSeparator=">">
  <nz-breadcrumb-item>
    <a routerLink="/"><span nz-icon nzType="home"></span> {{ 'breadcrumb.home' | translate }}</a>
  </nz-breadcrumb-item>
  @if (!autoGenerate){
    @for (item of items;track $index){
      @if (item.link){
        <a routerLink="{{item.link}}">{{ item.name }}</a>
      } @else {
        <span>{{ item.name }}</span>
      }
    }
  }
</nz-breadcrumb>

